parameters:
    level: 6
    paths:
        - src
        - sidrena-cijena-za-woocommerce.php
        - uninstall.php
    bootstrapFiles:
        - phpstan-bootstrap.php
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-commands-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-i18n-stubs.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Function as_[a-z_]+ not found#'
        - '#Constant WP_CLI not found#'
        - '#Class WP_CLI not found#'
        - '#Function WP_CLI\\[a-z_]+ not found#'
        -
            identifier: requireOnce.fileNotFound
            path: src/History/Schema.php
